<!DOCTYPE html>
<html>
<head>
  <title>Checkout!</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <form id="numberForm" action="/" method="post">
    <label for="number">Please input number</label>
    <input type="number" id="number" name="number" required>
    <button type="submit">send</button>
    <button type="button" id="resetButton">Reset</button>
  </form>

  <table id="result-table">
    <thead id="table-header">
      <tr>
        <th id="numberHeader">Number</th>
        <th id="firstHeader">First</th>
        <th id="secondHeader">Second</th>
        <th id="thirdHeader">Third</th>
      </tr>
    </thead>
    <tbody id="result-body">
    </tbody>
  </table>

  <script src="/javascript/number.js"></script>
</body>
</html>
