{{define "table"}}
<!DOCTYPE html>
<html>
<head>
  <title>Checkout!</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <table id="result-table">
    <thead>
      <tr>
        <th>Number</th>
        <th>First</th>
        <th>Second</th>
        <th>Third</th>
      </tr>
    </thead>
    <tbody>
      {{range .Numbers}}
      <tr>
        <td>{{.Number}}</td>
        <td>{{.First}}</td>
        <td>{{.Second}}</td>
        <td>{{.Third}}</td>
      </tr>
      {{end}}
    </tbody>
  </table>

  <script src="/javascript/number.js"></script>
</body>
</html>
{{end}}
