<!-- {{define "table"}}
  <table id="result-table">
    <thead id="table-header" style="display: none;">
      <tr>
        <th id="numberHeader">Number</th>
        <th id="firstHeader">First</th>
        <th id="secondHeader">Second</th>
        <th id="thirdHeader">Third</th>
      </tr>
    </thead>
    <tbody id="result-body">
      {{range .Numbers}}
      <tr>
        <td>{{.Number}}</td>
        <td>{{.First}}</td>
        <td>{{.Second}}</td>
        <td>{{.Third}}</td>
      </tr>
      {{end}}
    </tbody>
  </table>
{{end}} -->
